fastapi
uvicorn
uvloop
httptools
python-dotenv
pytest
pytest-asyncio
pytest-benchmark
memory-profiler
groq
openai
ruff
google-generativeai
sentence-transformers
faiss-cpu
radon
stdlib_list
pre-commit
psutil
tiktoken

structlog

python-json-logger
